<?xml version="1.0"?>
<ruleset name="monolog-wp-cli">
  <description>Code style rules for monolog-wp-cli.</description>

  <arg name="colors"/>
  <arg value="sp"/>

  <file>src</file>
  <file>tests</file>
  <exclude-pattern>tests/runtime-smoke.php</exclude-pattern>

  <rule ref="PSR12"/>
</ruleset>
